body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

.title{
	font-size: large;
}
 
.bold{
	font-weight: bold;
}

th{
	border: 1px solid #000000;
	background-color: #cccccc;
	text-align: left;
}

.dark{
	border: 1px solid #000000;
	background-color: #cccccc;
	text-align: left;
}

td.odd{
	border: 1px solid #cccccc;
	padding: 2px 2px 2px 2px;
}

td.even{
	border: 1px solid #cccccc;
	background-color: #f0f0f0;
	padding: 2px 2px 2px 2px;
}

a{
	display: none;
}

.noprint{
	display: none;
}