/* begin Page */
/* Created by Artisteer v3.0.0.33215 */

#webt-main, table
{
    font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  color: #2E424C;
  background-color: #19485D;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
}


h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 32px;
}

a
{
  text-decoration: none;
  color: #3191B9;
}

a:link
{
  text-decoration: none;
  color: #3191B9;
}

a:visited, a.visited
{

  color: #587E93;
}

a:hover, a.hover
{

  text-decoration: underline;
  color: #09BDDC;
}


h1
{
   margin: 21px 0 21px 0; 
   color: #246B89;
 
}

h2
{
    color: #3191B9;
   margin: 19px 0 19px 0; 
   font-size: 24px;   
}

h3
{
   margin: 19px 0 19px 0; 
  color: #3489B7; 
  font-size: 19px;    
}

h4
{
   margin: 20px 0 20px 0; 
   color: #4E7083; 
   font-size: 16px;   
}

h5
{
   margin: 26px 0 26px 0; 
   color: #4E7083;   
   font-size: 13px;
}

h6
{
   margin: 35px 0 35px 0; 
   color: #4E7083;
   font-size: 11px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#webt-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}




.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.webt-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.webt-sheet-body
{
  position: relative;
  padding: 11px;
}

.webt-sheet-tr, .webt-sheet-tl, .webt-sheet-br, .webt-sheet-bl, .webt-sheet-tc, .webt-sheet-bc,.webt-sheet-cr, .webt-sheet-cl
{
  position: absolute;
}

.webt-sheet-tr, .webt-sheet-tl, .webt-sheet-br, .webt-sheet-bl
{
  width: 26px;
  height: 26px;
  background-image: url('images/sheet_s.png');
}

.webt-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 13px, 13px, auto);
}

.webt-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 13px, 13px);
}

.webt-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(13px, 13px, auto, auto);
}

.webt-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(13px, auto, auto, 13px);
}

.webt-sheet-tc, .webt-sheet-bc
{
  left: 13px;
  right: 13px;
  height: 26px;
  background-image: url('images/sheet_h.png');
}

.webt-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 13px, auto);
}

.webt-sheet-bc
{
  bottom: 0;
  clip: rect(13px, auto, auto, auto);
}

.webt-sheet-cr, .webt-sheet-cl
{
  top: 13px;
  bottom: 13px;
  width: 26px;
  background-image: url('images/sheet_v.png');
}

.webt-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 13px);
}

.webt-sheet-cl
{
  left: 0;
  clip: rect(auto, 13px, auto, auto);
}

.webt-sheet-cc
{
  position: absolute;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-color: #FCFDFD;
}

.webt-sheet
{
  top: -11px !important;
  margin-bottom: -11px !important;
  cursor:auto;
  width: 90%;
}


/* end Box, Sheet */

/* begin Header 
div.webt-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 155px;
  overflow: hidden;
}


div.webt-header-center
{
	position: relative;
	width: 1152px;
	left:50%;
}


div.webt-header-png
{
  position: absolute;
  left:-50%;
  top: 0;
  width: 1152px;
  height: 140px;
  background-image: url('images/header.png');
  background-repeat: no-repeat;
  background-position:center center; 
}


div.webt-header-fluid-object
{
  display: block;
  left: 0;
  margin-left: -0;
  position: absolute;
  
  width: 184px;
  background-image: url('images/fluid_object.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 140px;
}

 end Header */

 
 
/* begin Logo 
div.webt-logo
{
  display: block;
  position: absolute;
  left: 91px;
  top: 55px;
  width: 1051px;
}

h1.webt-logo-name
{
  display: block;
  text-align: left;
}

h1.webt-logo-name, h1.webt-logo-name a, h1.webt-logo-name a:link, h1.webt-logo-name a:visited, h1.webt-logo-name a:hover
{
  font-size: 31px;
  text-decoration: none;
  padding: 0;
  margin-left: 50px;
  color: #1A4B61 !important;
}


h2.webt-logo-text, 
h2.webt-logo-text a,
h2.webt-logo-text a:link,
h2.webt-logo-text a:visited,
h2.webt-logo-text a:hover
{
  font-size: 16px;
  padding: 0;
  margin-left: 150px;
  margin-top: -25px;
  color: #091920 !important;
}

h2.webt-logo-text
{
  display: block;
  text-align: left;
}
end Logo */


input, select, textarea
{
  vertical-align: middle;
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}


a img
{
  border: 0;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* begin Footer */
.webt-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}


.webt-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('images/footer_t.png');
  background-position: left bottom;
}

.webt-footer-body
{
    position:relative;
    padding: 15px;
}

.webt-footer-body .webt-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:15px;
  z-index:1;
}

.webt-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  cursor: default;
}

.webt-footer-text p
{
  padding:0;
  margin:0;
}

.webt-footer,
.webt-footer a,
.webt-footer a:link,
.webt-footer a:visited,
.webt-footer a:hover
{
    color: #80A1B3;
    font-size: 11px;
}

.webt-footer-text
{
  min-height: 32px;
  padding: 0 10px 0 10px;

}

.webt-footer,
.webt-footer-text,
.webt-footer p
{
  text-align: center;
}

.webt-footer a,
.webt-footer a:link
{
  color: #86C4DF;
  text-decoration: none;
}

.webt-footer a:visited
{
  color: #9FB8C6;

}

.webt-footer a:hover
{
  color: #09BDDC;

  text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.webt-page-footer, 
.webt-page-footer a,
.webt-page-footer a:link,
.webt-page-footer a:visited,
.webt-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #86C4DF;
}

.webt-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #9FB8C6;
}
/* end PageFooter */


.overview-table .webt-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}

#layout-table #left-column, 
#layout-table #left-column li, 
#layout-table #left-column a,
#layout-table #left-column a:link,
#layout-table #left-column a:visited,
#layout-table #left-column a:hover,
#layout-table #right-column, 
#layout-table #right-column li, 
#layout-table #right-column a,
#layout-table #right-column a:link,
#layout-table #right-column a:visited,
#layout-table #right-column a:hover
{
  color: #C6D5DD;
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
}

.sideblock, .sideblock .content {
	background-color: #405D6D /*#15394C*/;
	border: 0;
}

#calendar .weekend, .minicalendar .weekend {
	color: #F30;
}

#footer {
	padding: 0;
	margin: 0;
	top: 0;
}

.block_calendar_month .filters table {
	background-color: #FFF;
}


th.header,
td.header,
h1.header,
h2.header,
h3.header,
div.header {     
    background-image:url(images/nav.png);     
    background-position:top;    
    background-repeat:repeat-x;     
}

.navbar {
    background-image:url(images/nav.png);     
    background-position:top;    
    background-repeat:repeat-x;
	border: 0;   
}

.breadcrumb {
	padding-top: 5px;
}

.headermenu {
	margin: 10px 40px 0 0;
}

.block_admin_tree.sideblock .link.current {
  background-color: #666;
}

body#message-messages {
	background:none;
}

.message, #content {
	background-color:#FFF;
}

/***
 ***	Core: Menubar Date
 ***/
 
#aardvark_menu_date a {
	float:right;
	padding: 16px 5px 0 17px;
	height:30px;
	color: #C6D5DD;
	font-weight: bold;
	font-size: 12px;
	text-decoration:none;
	background:#555555 url('images/menu/dategrad.jpg') repeat-x top center;
	font-family: "Century Gothic",Arial,Helvetica,Sans-Serif;
}

#aardvark_menu_date a:hover {
	color: #ffffff;
	text-decoration:none;
	background:#2f2f2f url('images/menu/hovergrad.jpg') repeat-x top center;
	font-family: "Century Gothic",Arial,Helvetica,Sans-Serif;
	}

	/***
 ***	Core: YUI Menubar
 ***/


.yuimenubar /* Entire bar */ {
	background:#2f2f2f url('images/menu/menugrad.jpg') repeat-x top center;
	height:46px;
	margin:0;
	font-family: "Century Gothic",Arial,Helvetica,Sans-Serif;
	}

.yuimenu /* Sub container */ {
	background-color: #323232;
	z-index: 10000;
	font-family: "Century Gothic",Arial,Helvetica,Sans-Serif;
	}

.yuimenu a {
	text-decoration: none;
	background-color: #323232;
	font-family: "Century Gothic",Arial,Helvetica,Sans-Serif;
	}

a.yuimenubaritemlabel /* Bar item link */ {
	padding: 5px 5px 0px 10px;
	height:30px;
	color: #C6D5DD;
	font-weight: bold;
	font-size: 12px;
	font-family: "Century Gothic",Arial,Helvetica,Sans-Serif;
	/*font-weight: bold;*/
	}

a.yuimenuitemlabel /* Sub item link */ {
	padding: 4px 24px;
	color: #fff;
	border-bottom:1px solid #828282;
	border-left:0px solid #0070a6;
	border-right:0px solid #0070a6;
	font-family: "Century Gothic",Arial,Helvetica,Sans-Serif;
	}

.yuimenubar li.first-of-type .yuimenubaritemlabel {
	border-width: 0; /* No border on the first bar item link */
	}

.yuimenubaritem-hassubmenu /* Add down arrow to bar item */ {
	}

.yuimenuitem-hassubmenu /* Add right arrow to sub item */ {
	background: #323232 url(images/menu/menuitem_submenuindicator_selected.png) right center no-repeat;
	}
	
a.yuimenuitemlabel-hassubmenu {
	background: none;
	}

/* Selected MenuItem */

li.yuimenubaritem-selected /* Bar menu item */ {
	background:#f12711 url('images/menu/hovergrad.jpg') repeat-x top center;
	}

li.yuimenuitem-selected  /* Sub menu item */ {
	color: #fff
	}

a.yuimenubaritemlabel-selected, /* Bar menu item link selected */ {
	text-decoration: none;
	color: #fff;
	}

a.yuimenuitemlabel-selected  /* Sub menu item link selected */ {
	text-decoration: none;
	color: #007EBA;
	background-color: #fff;
	}

.yuimenubaritem-hassubmenu-selected /* Change down arrow on bar item */ {
	}

.yuimenuitem-hassubmenu-selected /* Change right arrow on sub item */ {
	background: #fff url(images/menu/menuitem_submenuindicator.png) right center no-repeat;
	}

a.yuimenuitemlabel-hassubmenu-selected {
	background: none;
	}


/***
 ***	Core: Header
 ***/

#header {
	height: 100px;
}

#logo { 
	background: url(images/header/logo.png) no-repeat left top;
	width: 100%;
	height: 120px;
	float: left;
	left: 0px;
} 

/***
 ***	Core: ProfileBlock
 ***/

#profileblock {
	float: right;
	text-align: right;
	max-width: 550px;
	right: 0px;
}

#profilepic {
	text-align:right;
	float: right;
	margin: 8px;
	width: 80px;
	height: 80px;
	border: 1px solid #ffffff;
}

#profilename {
	background-color: transparent;
	text-align:right;
	width: 440px;
	margin-right: 5px;
	margin-top:12px;
	margin-bottom:0px;
	float: left;
}

.profilename, .profilename a {
	/*background-color: #ffffff;*/
	color:#fgffff;
    font-size:1.4em;
	letter-spacing: -3px;
	text-decoration: none;
	font-weight:bold;
	margin-right:5px;
}

.profilename, .profilename a:hover {
	background-color: #ffffff;
	color: #f12711;
	text-decoration:none;
}

#profileoptions {
	text-align:right;
	width: 440px;
	margin-right: 10px;
	margin-top: 0px;
	float: left;
}

#profileoptions ul li { 
	padding-left: 10px;
	padding-right: 10px;
	/*background-color: #ffffff;*/
	display: inline; 
	margin-right:5px;
}

.profileoptions {
	background-color: transparent;
	color:#2f2f2f;
	text-decoration: none;
	letter-spacing: -1px;
}

.profileoptions, .profileoptions a {
	background-color: transparent;
	/*color:#2f2f2f;*/
	color:#ffffff;
}

.profileoptions a:hover {
	background-color: transparent;
	color: #f12711;
	text-decoration:none;
}
